.foto{
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    border: solid 5px grey;
    height: 200px;
    width: 200px;
    object-fit: cover;
    }

    :root {
        --font-color: #000; /* Default font color for light theme */
      }
      
      [data-theme="dark"] {
        --font-color: #fff; /* Font color for dark theme */
      }
      